/* body {
  min-width: 700px; */
/* background-image: linear-gradient(to b,rgba(24, 119, 119, 0.234),rgba(172, 176, 179, 0.839));
} */
#top {
  background-image: linear-gradient(
    to bottom,
    rgba(236, 248, 248, 0.234),
    rgba(172, 176, 179, 0.27)
  );
  width: 100%;
  height: 9vh;
  margin-bottom: 3px;
  text-align: center;
  font-size: xx-large;
  box-shadow: 0px 0px 3px 3px rgba(181, 153, 158, 0.19);
}
#bottom {
  margin-top: 3px;
  display: inline-block;
  width: 100%;
  height: 9vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 247, 255, 0.234),
    rgba(23, 165, 247, 0.27)
  );
  box-shadow: 0px 0px 3px 3px rgba(153, 178, 181, 0.19);
}
#left {
  display: inline;
  background-color: rgba(255, 0, 0, 0.145);
  width: 20%;
  height: 80vh;
  float: left;
  box-shadow: 0px 0px 3px 3px rgba(181, 153, 158, 0.19);
}
#left1 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.027), white);
  /* doing this inside buttom */
  /* background-image: url("media/size4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; */
  margin: 10px;
  height: 31%;
  background-color: white;
}
#left1 > button {
  background-image: url(media/size4.png);
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  text-align: justify;
  text-decoration: underline;
  color: rgb(255, 240, 240);
}

#left2 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.027), white);
  margin: 10px;
  height: 31%;
  background-color: white;
  text-align: center;
}
#left2 > button {
  background-image: url(media/cv.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  text-align: justify;
  text-decoration: underline;
  color: rgb(255, 240, 240);
}

#left3 {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.027), white);
  margin: 10px;
  height: 31%;
  background-color: white;
  text-align: center;
}
#left3 > button {
  background-image: url("media/contact.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  text-align: justify;
  text-decoration: underline;
  color: rgb(255, 240, 240);
}
#middle {
  display: inline-block;
  width: 60%;
  height: 80vh;
  text-align: center;
  /* position:sticky;
  position: -webkit-sticky;
  bottom: 0; */
}

#content {
  text-align: center;
}
#contentCv {
  text-align: center;
  padding: 10px;
  overflow-y: scroll;
  max-height: 75vh;
}

#right {
  display: inline;
  width: 20%;
  height: 80vh;
  background-color: rgba(172, 255, 47, 0.316);
  float: right;
  box-shadow: 0px 0px 3px 3px rgba(146, 164, 119, 0.212);
}
#right1 {
  background-image: linear-gradient(
    to bottom,
    rgba(172, 255, 47, 0.129),
    white
  );
  margin: 10px;
  height: 31%;
  background-color: white;
  text-align: center;
}
#right1 > button {
  background-image: url(media/youtube-subscribe.gif);
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  text-align: justify;
  text-decoration: underline;
  color: rgba(172, 255, 47, 0.316);
}
#right2 {
  background-image: linear-gradient(
    to bottom,
    rgba(172, 255, 47, 0.129),
    white
  );
  margin: 10px;
  height: 31%;
  background-color: white;
  text-align: center;
}
#right2 > button {
  background-image: url(media/git.png);
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  text-align: justify;
  text-decoration: underline;
  color: rgba(172, 255, 47, 0.316);
}
#right3 {
  background-image: linear-gradient(
    to bottom,
    rgba(172, 255, 47, 0.129),
    white
  );
  margin: 10px;
  height: 31%;
  background-color: white;
  text-align: center;
}
#right3 > button {
  background-image: url(media/insta.png);
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  text-align: justify;
  text-decoration: underline;
  color: rgba(172, 255, 47, 0.316);
}

#youtubeContent {
  background-color: rgb(0, 0, 0);
  margin: 50px 20px 50px 20px;
  position: relative;
  padding-bottom: 54%;
  padding-top: 0px;
}
#instagramContent {
  margin: 20px 20px 10px 20px;
  position: relative;
  padding-bottom: 90%;
  padding-top: 0px;
  height: 30vw;
}
#contentGit {
    text-align: center;
    overflow-x: scroll;
    padding: 5px;
  }
#instagramFrame {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 70vh;
}

iframe {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 95%;
}

/* for phones -________________________________________________________*/
@media only screen and (max-width: 700px) {
  #middle {
    display: block;
    width: 80%;
    height: 100%;
    min-height: 500px;
    background-color: white;
    float: right;
  }
  #content {
    text-align: center;
  }

  #right {
    display: block;
    width: 20%;
    height: 70vw;
    background-color: rgba(172, 255, 47, 0.316);
  }
  #right1 {
    background-image: linear-gradient(
      to bottom,
      rgba(172, 255, 47, 0.129),
      white
    );
    margin: 10px;
    height: 29%;
    background-color: white;
    text-align: center;
  }
  #right1 > button {
    background-image: url(media/youtube-subscribe.gif);
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    text-align: justify;
    text-decoration: underline;
    color: rgba(172, 255, 47, 0.316);
  }
  #right2 {
    background-image: linear-gradient(
      to bottom,
      rgba(172, 255, 47, 0.129),
      white
    );
    margin: 10px;
    height: 29%;
    background-color: white;
    text-align: center;
  }
  #right2 > button {
    background-image: url(media/git.png);
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    text-align: justify;
    text-decoration: underline;
    color: rgba(172, 255, 47, 0.316);
  }
  #right3 {
    background-image: linear-gradient(
      to bottom,
      rgba(172, 255, 47, 0.129),
      white
    );
    margin: 10px;
    height: 29%;
    background-color: white;
    text-align: center;
  }

  #left {
    display: block;
    background-color: rgba(255, 0, 0, 0.145);
    width: 20%;
    height: 70vw;
  }
  #left1 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.027), white);
    /* doing this inside buttom */
    /* background-image: url("media/size4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; */
    margin: 10px;
    height: 29%;
    background-color: white;
  }
  #left1 > button {
    background-image: url(media/size4.png);
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    text-align: justify;
    text-decoration: underline;
    color: rgb(255, 240, 240);
  }

  #left2 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.027), white);
    margin: 10px;
    height: 29%;
    background-color: white;
    text-align: center;
  }
  #left2 > button {
    background-image: url("media/cv.png");
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    text-align: justify;
    text-decoration: underline;
    color: rgb(255, 240, 240);
  }

  #left3 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.027), white);
    margin: 10px;
    height: 29%;
    background-color: white;
    text-align: center;
  }
  #left3 > button {
    background-image: url(media/contact.jpeg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    text-align: justify;
    text-decoration: underline;
    color: rgb(255, 240, 240);
  }
  #bottom {
    display: inline-flex;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 255, 255, 0.213);
    float: left;
  }
  #top {
    background-color: rgba(0, 0, 0, 0.106);
    width: 100%;
    height: 5vh;
    margin-bottom: 3px;
    text-align: center;
    font-size: xx-large;
  }
  #bottom {
    margin-top: 3px;
    width: 100%;
    height: 5vh;
    background-color: rgba(0, 255, 255, 0.213);
  }
  #contentCv {
    text-align: center;
    top: 2%;
    left: 2%;
    width: 75vw;
    max-height: 79vh;
    overflow-y: scroll;
  }
  #contentGit {
    text-align: center;
    width:75vw;
    max-height: 79vh;
    overflow-x: scroll;
    padding: 5px;
  }
  #youtubeContent {
    background-color: rgb(0, 0, 0);
    margin: 50px 20px 50px 20px;
    position: relative;
    padding-bottom: 54%;
    padding-top: 0px;
  }
  #instagramContent {
    margin: 0px 20px 10px 20px;
    position: relative;
    padding-bottom: 100%;
  }
  #instagramFrame {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 60vh;
  }
  iframe {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
  }
}
