body {
  min-width: 700px;
}
#top {
  background-color: rgba(0, 0, 0, 0.106);
  width: 100%;
  height: 10vh;
  margin-bottom: 3px;
  text-align: center;
  font-size: xx-large;
}
#bottom {
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 255, 255, 0.213);
}
#left {
  display: inline;
  background-color: rgba(255, 0, 0, 0.145);
  width: 20%;
  height: 80vh;
  float: left;
}
#left1 {
  margin: 10px;
  height: 31%;
  background-color: white;
}
#left2 {
  margin: 10px;
  height: 31%;
  background-color: white;
}
#left3 {
  margin: 10px;
  height: 31%;
  background-color: white;
}
#middle {
  display: inline-flex;
  width: 60%;
  height: 80vh;
  float: none;
}

#content {
  text-align: center;
}

#right {
  display: inline;
  width: 20%;
  height: 80vh;
  background-color: rgba(172, 255, 47, 0.316);
  float: right;
}
#right1 {
  margin: 10px;
  height: 31%;
  background-color: white;
}
#right2 {
  margin: 10px;
  height: 31%;
  background-color: white;
}
#right3 {
  margin: 10px;
  height: 31%;
  background-color: white;
} 
@media only screen and (max-width: 700px) {
  #middle { 
    display: block;
    width: 80%; 
    height: 100vh;
    background-color: white;
    float: right;
  }  

  #right {
    display: block;
    width: 20%;
    height: 50vh;
    background-color: rgba(172, 255, 47, 0.316);
    float: left;
  }
  #left {
    display: block;
    background-color: rgba(255, 0, 0, 0.145);
    width: 20%;
    height: 50vh;
    float: left;
  }
  #bottom {
    display: inline-flex;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 255, 255, 0.213);
  }
}
